.navbar-brand h1{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  font-size: 1.5em;
}
body{
  margin:0px !important;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown-menu>li>a{
  width:100%;
}
.navbar-default{
  padding:5px;
  background-color: #008dc9;
  margin-left: -1px;
  margin-top: -1px;
  
}
.home{
  color:white;
  font-size:25px;
}
.navbar-nav >li>a,.navbar-brand{
  color:white !important;
  font-weight: bold;
}
.navbar-nav >li>a:focus,.navbar-nav >li>a:hover{ 
  background-color: #d95204 !important;
}

/*Large Device*/
@media (min-width:1200px){
.jumbotron{
  background: url(who-staff_1200x656.jpg) center no-repeat;
  border: 0px 0px 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  height:600px;
  
}
.container .jumbotron{
  padding:0px;
}
}
/*Medium Device*/
@media (min-width:992px) and (max-width:1199px){
.navbar-default{
  padding:10px;

}
.jumbotron{
  background: url(Jumbo1200.jpg) center no-repeat;
  height:550px;
  border: 0px 0px 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
.container .jumbotron{
  padding:0px;
}

}
/*Small Device*/
@media (min-width:768px) and (max-width:991px){
  .navbar-default{
    padding:10px;
  }
  .navbar-nav >li>a{
    font-size:1.4em;
  }
  .navbar-brand h1{
    font-size:4vw;
  }
  .dropdown-menu>li>a{
   color:white;
  }
  .jumbotron{
    background: url(Jumbo1000.jpg) center no-repeat;
    height:450px;
    border: 0px 0px 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }
  .container .jumbotron{
      padding:0px;
      margin:0px;
  }
  #rd{
    clear:left;
  }
  .bottom-footer{
    text-align: center !important;
    
  }
  
}
/*Extra-Small*/
@media (max-width:768px){
.navbar-brand h1{
font-size:4vw;
}
.jumbotron{
  border: 0px 0px 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
.container .jumbotron{
  padding:0px;
}
.panel-footer .container{
  text-align:center;
}
.panel-footer hr{
  width:50%;
}
.bottom-footer{
  text-align: center  !important;
  display:block;
}
.bottom-footer .cpy{
  text-align: center !important;
}
}
/*header end*/
/*row*/
.row{
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;
}
#help h2{
  font-family: monospace;
  font-size:2em;
  font-weight: bold;
  border-bottom:1px solid grey;
  width:90%;
}
.kids{
  margin: 0 0 70px 0;
  width:90%;
  height:300px;
  border-radius: 1%;
}
.section-heading{
  padding-top:20px;
  padding-bottom:10px;  
  border-bottom:1px solid #e8e8e8;
}
.img1{
  padding-top:25px;
  padding-bottom:20px;
}
.section-info{
  color:#3c4245;
  font-size:16px;
  line-height: 24px;
}
/*end row*/
/*Footer*/
footer{
  background-color: #008dc9 !important;
}
footer h3{
  font-weight: bold;
  transition: all 0.4s ease;
}
footer h3:hover{
  color:#d95204;
}
footer .container a:hover{
  text-decoration:none;
}
footer .container{
  line-height:2em;
}
footer .container a{
  transition:all 0.4s ease;
}
footer .container a:hover{
  color:#d95204;
}
footer .container a, .container{
  color:white;
}
.footer-logo img{
  display: block;
  margin:auto;
}
footer button{
  font-size:15px;
  font-weight: bold;
  background-color: #3C4245;
  margin:20px 0px;
  border:2px solid #3c4245;
  border-radius: 4px;
  width:240px;
  height:40px;
  transition:all 0.3s ease-in-out;
}
footer button:hover{
 color:#3c4245;
 background-color:#fff;
}
.bottom-footer{
  background-color:#3c4245; 
}
.container.legal{
  display:block;
  text-align:left;
  font-weight:bold;
}
.bottom-footer a{
  color:white;
  padding:15px;
  transition:all 0.2s ease;
  position: relative;
}
.bottom-footer .icons{
  display: inline-block;
    font-size:18px;
    text-align: center;   
}
.bottom-footer .cpy{
  text-align: right;
}

.bottom-footer i:hover{
  cursor: pointer;
  
}
.bottom-footer a:hover{
  text-decoration: none;
  color:#d95204
}